image @IMAGE@ {
	hdimage {
		align = 1M
	}

	size = 2G

	partition bootstream {
		image = "barebox-duckbill-sd.img"
		size = 1M
		partition-type = 0x53
	}

	partition environment {
		image = "barebox-zero-environment"
		size = 2M
		partition-type = 0xda
	}

	partition kernel {
		image = "linuximage-fit"
		size = 8M
		partition-type = 0xda
	}

	partition root {
		image = "root.ext2"
		partition-type = 0x83
	}
}
